@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
  --main-color: #1e1e2e;
  --main-text: snow;
}

body {
  background-color: var(--main-color);
  color: var(--main-text);
  font-family: 'Iosevka Web';
  text-align: center;
  --nav-height: 50px;
  padding-top: 60px;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

img {
  display: -moz-stack;
  margin-left: auto;
  margin-right: auto;
}

.dark-mode {
  background-color: var(--main-text);
  color: var(--main-color);
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.asriel-mode {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.my_div {
  width: 90%;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-radius: 15px 50px;
  border: 2px solid #b4befe;
  margin: auto;
  margin-bottom: 20px;
}

.my_other_div {
  padding: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
  align-items: center;
  border-radius: 15px 50px;
  border: 2px solid #b4befe;
}

img {
  display: -moz-stack;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  width: 1 0em;
  margin-top: 20px;
  background-color: #b4befe;
  border-radius: 5px 25px;
  border: 2px solid #b4befe;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  z-index: 9999;
}

.nav--hidden {
  transform: translateY(calc(-2 * var(--nav-height)));
  box-shadow: none;
}

.nav__link {
  color: var(--main-text);
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

iframe {
  display:block;
  width:100%;
}
